/*student name: Shreya Budhathoki
student UN ID: 16442480 */
/*styling the body section*/
body{
  margin: 3%;font-size: 2em;font-family: tangerine;
  background: url(../images/classbackground.jpg) no-repeat center fixed;
  background-size: cover; opacity: 0.8;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
/*styling the header section*/
header{
  font-size: 3em;color: #9a0d0d;text-align: center;
  background-color: white;opacity: 0.7;border-radius: 8px;
}
section{

}
header h2{
  text-shadow: 2px 3px;
}
/*styling  the picture division*/
.pictures{
  display: flex;flex-direction: row;justify-content: space-around;
  list-style-type: none; margin: 0; padding: 0; overflow: hidden;
  align-self: center;
}
/*styling the personal division*/
.personal{
  text-align: center;
}
/*styling the education division*/
.education{
  text-align: center;
}
/*styling the currentedu section*/
.currentedu{
  text-align: center;
}
/*stylong the currentjob section*/
.currentjob{
  text-align: center;
}
/*styling the skills section*/
.skills{
  text-align: center;
}
.skills ul li{
  list-style-type: none;
}
/*end of styling the skill section*/
/*styling the footer section*/
footer{
  display: flex;flex-direction: row;padding: 1%;justify-content: space-between;
  background-color: black;opacity: 0.7;border-radius: 8px;
}
/*styling the navigation sction*/
.navigation{
  width: 100%; padding-bottom: 3%; text-align: center;
}
.navigation ul{
  display: flex;flex-direction: row;justify-content: space-around;
  list-style-type: none; margin: 0; padding: 0; overflow: hidden;
}
.navigation ul li{
  padding: 1% 4%;
}
.navigation ul li a{
  display: block;padding: 8px; color: white;color:#9a0d0d;font-weight: bold;
}
.navigation ul li a:link{
  color:#9a0d0d;font-weight: bold;
}
input[type=text],select{
  padding: 12px 20px;margin: 8px 0;display: inline-block;
  border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;
}
input[type=submit] {
  background-color: #434343; color: white; padding: 12px 20px; border: none;
  border-radius: 4px; cursor: pointer;
}
input[type=submit]:hover{
  background-color: #243560;
}
.div{
  border-radius: 5px;background-color: #f2f2f2;padding: 20px;
}
/*styling the paragraph articles*/
.firstpara article p{
  text-align: justify;
}
.secondpara article p{
  text-align: justify;
}
.thirdpara article p{
  text-align: justify;
}
/*end of styling*/
