body{
  margin: 3%;font-size: 15px;font-family: cursive;background: #080000;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
header{
  font-size: 30px;color: #9a0d0d;text-align: center;
}
footer{
  display: flex;flex-direction: row;padding: 1%;justify-content: space-between;
}
.info{
    ul{
      list-style-type: none;margin: 0;padding: 0;color: white;
    }
}
section{

}

.main{
  height: 750px;max-width: auto;
  background-image: url(../images/background.jpg);
  display: block;margin: auto;background-repeat: no-repeat;
  background-size: contain;
}
.text{
  position: absolute;bottom: 8px;left: : 16px
  font-size: 18px; color: white;text-align: center;;font-family: cursive;
}
.navigation{
  width: 100%; padding-bottom: 3%; text-align: center;
}
.navigation ul{
  display: flex;flex-direction: row;justify-content: space-around;
  list-style-type: none; margin: 0; padding: 0; overflow: hidden;
}
.navigation ul li{
  padding: 1% 4%;
}
.navigation ul li a{
  display: block;padding: 8px; color: white;color:#9a0d0d;
}
.navigation ul li a:link{
  color:#9a0d0d;
}
